.button{
    padding: 17px 30px;
    background-color: var(--bright);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    box-shadow: 0 8px 21px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.button:hover{
    background-color: #f48320bb;
}