.footer {
    position: fixed;
    bottom: 0;
    z-index: 0;
    background-color: var(--shadowColor);
    width: 100%;
}

.footer p {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.specialWord{
    color: var(--bright);
    text-decoration: underline;
}