.departTable{
    width: fit-content;
    max-width: 90%;
    max-height: 60vh;
    margin: auto;
    overflow: scroll;
}

.tableControls{
    padding: 11px;
    display: flex;
    justify-content: space-between;
}

.rightControls{
width: 100px;
display: flex;
justify-content: space-between;
}

.rightControls button{
color: white;
background-color: var(--bright);
padding: 10px;
border-radius: 200px;
border-color: transparent;
cursor: pointer;
}

.title{
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    padding: 10px;

}

